@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Privacy Policy endicts the right to free use of and integrated services to coalesce the ascertained Utopia.</p>
<object>Gamma - derived of plasmic renderings and combined with U.V spectrums allows for the body to "link" with one's technoligical entity.'</object>
